*
!**/

!/.gitignore
!/LICENSE
!/README.md

!/bench.py
!/dataset.py
!/eval_poses.py
!/metrics.py
!/models.py
!/pipeline.py
!/prepare.py
!/preprocess.py
!/pyproject.toml
!/render.py
!/train.py
!/util.py
!/uv.lock
